<div class="main">
  <!-- Header -->
  <div class="container">
    <app-header></app-header>
    <div class="padding-small">
      <button mat-raised-button [routerLink]="['/']">Log out</button>
      <!-- TODO: Match with the server side (Not it is always true) -->
    </div>
  </div>

  <!-- Game tables -->
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile class="table-container" *ngFor="let i of numbers">
        <game-table class="table" [id]="i"></game-table>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="play">
    <button class="playText" mat-raised-button (click)="play()">Play</button>
  </div>
</div>